@using WebSudoku.Shared
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar hide-in-print d-flex flex-column">
        <NavMenu @ref="navMenu" />
    </div>

    <main>
        <article class="content px-4" @onclick="() => navMenu?.CollapseNavMenu()">
            @Body
        </article>
    </main>
</div>

@code {
    private NavMenu? navMenu;
}