<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://apb97.github.io">APB97</a>
        <button style="border: none; background-color: transparent; padding: 0;" @onclick="() => Layout.ToggleLayoutMode()">
            @if (Layout.LayoutMode == "Light")
            {
                <div onclick="localStorage.setItem('LayoutMode', 'Dark')">
                    <img style="height: 2rem; filter: invert(0.95);" src="/images/dark.svg" />
                </div>
            }
            else
            {
                <div onclick="localStorage.setItem('LayoutMode', 'Light')">
                    <img style="height: 2rem; filter: invert(0.95);" src="/images/light.svg" />
                </div>
            }
        </button>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div style="overflow-y: auto;" class="@NavMenuCssClass" @onclick="CollapseNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules" Match="NavLinkMatch.All">
                Sudoku Rules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sudoku">
                Sudoku
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="printMultiple">
                Print Multiple
            </NavLink>
        </div>

        <div class="bottom-0 nav-item px-3 hide-in-print">
            <a class="text-decoration-underline nav-link" href="https://github.com/APB97/WebSudoku" target="_blank">Code</a>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter]
    public required MainLayout Layout { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void CollapseNavMenu()
    {
        collapseNavMenu = true;
        StateHasChanged();
    }
}
