@page "/"
@page "/rules"
@using WebSudoku.Extensions

@inject IJSRuntime JS
@inject NavigationManager Navigation

<PageTitle>Web Sudoku - features and rules</PageTitle>

<h1>Web Sudoku</h1>

<p>To start playing use the navigation menu or press the button below.</p>

<a class="btn btn-success" href="sudoku">Start playing</a>

<h3>Features</h3>

<ul>
    <li>
        <strong class="text-decoration-underline">Saving and loading</strong>: Sudoku state can be saved and loaded.
    </li>
    <li>
        <strong class="text-decoration-underline">Printing</strong>: You can print the sudoku board with ability to adjust the following options:
        <ul>
            <li>
                <b>Print filled values</b> - if checked,
                this option will include user-filled cell values in the printed version.
                This option must be checked for option: <b>Print highlighted errors</b> to be available.
            </li>
            <li>
                <b>Print highlighted errors</b> - if checked,
                and given that You've used the <b>Show invalid cells</b> button to highlight conflicting cell values,
                this option will include highlighting of errors in the printed version.
            </li>
        </ul>
    </li>
    <li>
        <strong class="text-decoration-underline">Validation</strong>: You can use <b>Show invalid cells</b> button to highlight cell values conflicting with sudoku rules.
        Highlight is cleared after leaving highlighted cell.
    </li>
    <li>
        <strong class="text-decoration-underline">Navigation</strong>: You can navigate cells within the sudoku board using arrow keys.
        Target cell will have its value selected.
    </li>
</ul>

<h3>Sudoku rules</h3>

<ul>
    <li>
        Sudoku board is divided into 9 squares with 3x3 grid of cells.
    </li>
    <li>
        Each cell on the board should be filled with digits 1 through 9.
    </li>
    <li>
        Inside of each 3x3 square, column and row, given digit can appear only once.
    </li>
    <li>
        You start a game with a board where some of the cells have been assigned a digit that cannot be changed. Your should fill the board according to the rules.
    </li>
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Navigation.NavigateToStoredDestinationIfAnyAsync(JS);
    }
}